#verticalNavbar {
  height: 100vh;
  width: 20%;
  background-color: #F8F8F8;  
}
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3em;
  padding-top: 5em;
  margin: 0;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 0.2em;
  font-family: 'Varela Round', sans-serif;
}

a img {
  width: 2em;
  height: auto;
}

a span {
  color: #000;
  font-size: 1em;
  font-family: 'Varela Round';
}

#settingsAnchor {
  padding-top: 7em;
}

