html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#restOfScreen{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#favorites {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1% 1%;
  padding: 1%;
}

.favorites-header {
  display: flex;              /* Use flexbox for horizontal alignment */
  align-items: center;        /* Vertically center the items */
  justify-content: space-between; /* Space items out evenly */
}

.favorites-content {
  display: flex;              /* Use flexbox for horizontal alignment */
  align-items: center;        /* Vertically center the items */
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;           /* Make the text bigger */
  font-weight: bold;          /* Make the text bold */
}

.favorites-content svg{
  width: 1em;                /* Set the width of the SVG icon */
  height: 1em;               /* Set the height of the SVG icon */
  margin: 0 0.5em;           /* Add space between icon and text */
}

.favorites-content span {
  font-size: inherit;         /* Inherit the font size from .recents-content */
  font-weight: inherit;       /* Inherit the font weight from .recents-content */
  margin-right: 100px;
}

.note-wrapper {
 position: relative;
  margin-right:14px;
  max-width: 98%; /* Ensure it takes the full width of the grid column */
  display: block;
}

#line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the alpha channel (last value) to control opacity */
  margin-top: 10px; /* Adjust the top margin as needed */
}

a {
  text-decoration: none;
  color: black;
}