/*styling not finished yet*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  #favorites{
    padding: 20px;
    position: fixed;
    top: 30%;
    left: 17%;
    width: 70%;
  }
  
  .favorites-content {
    display: flex;              /* Use flexbox for horizontal alignment */
    align-items: center;        /* Vertically center the items */
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;           /* Make the text bigger */
    font-weight: bold;          /* Make the text bold */
  }
  
  .favorites-content svg {
    width: 24px;                /* Set the width of the SVG icon */
    height: 24px;               /* Set the height of the SVG icon */
    margin-right: 15px;         /* Add space between icon and text */
  }
  
  .favorites-content span {
    font-size: inherit;         /* Inherit the font size from .recents-content */
    font-weight: inherit;       /* Inherit the font weight from .recents-content */
  }

  .note-wrapper {
    position: relative;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease;
  }
  
  .note {
    background-color: #F8F8F8;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;         /* Use flexbox for horizontal alignement */
    flex-direction: column;
    justify-content: flex-start; 
    overflow: hidden;      /* hide the overflowed text */
    position: relative; 
   
  }
  
  h2 {
    font-weight: bold;
    color: #000;
    max-width: 24%;   /* set max-width to avoid overlapping with the tags */
  }
  
  header {
    display: flex;   
    flex-direction: row; 
    align-items: center; /* align items to be centered in the row */
    margin-top: -10px;
  }
  
  /* align the tags and project elements to the right of the title */
  .tags-project {
    display: flex;
    position: absolute;
    left: 25%;          
    align-items: center;
  }
  
  .tags-project span {
    background-color: #e2e2e2;
    padding: 0px 10px;
    margin-right: 5px;
    border-radius: 5px;
    height: 20px;
    color: #000;
  }
  
  #vertical-line {
    border-left: 2px solid #000;
    height: 25px;
    margin-right: 9px;
    margin-left: 9px;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
  }
  
  .dates {
    display: flex;   /* align the dates vertically */
    flex-direction: column; 
    max-width: 22%;  
  }
  
  .dates p {
    font-size: 10px;
    color: #7C7C7C;
    margin-top: -5px;  
  }
  
  #note-text {
    position: absolute;
    left: 25%;
    margin-top: -5px;
    margin-right: 10px;
    font-size: 12px;
    color: #000;
    overflow: hidden;             /* Hide any overflow */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3;       /* set amount of lines of text allowed */
    display: -webkit-box;
  }
  
  .favorite-button {
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
    background-color: transparent;
  }
  
  
  .collapsed .note-wrapper {
    transform: translateY(-50px); /* Adjust the translate value as needed */
    opacity: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  #collapseButton1 {
    position: fixed;
    top: 26%;
    right: 260px;
  }
  
  #collapseButton2 {
    position: fixed;
    top: 72%;
    right: 260px;
  }
  
  
  #end-block {
    display: none;
  }
  