/*styling not finished yet*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container{
  display:flex;
}


#restOfScreen{
  flex:1;
}

head {
  display: flex;
  width: 100px;
  justify-content: flex-end;
  /* box-sizing: border-box; */
}



.favorites-content {
  margin-top: 140px;
  display: flex;              /* Use flexbox for horizontal alignment */
  align-items: center;        /* Vertically center the items */
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5em;           /* Make the text bigger */
  font-weight: bold;          /* Make the text bold */
  margin-left: 65px;
}

.favorites-content svg {
  width: 24px;                /* Set the width of the SVG icon */
  height: 24px; 
  margin-right: 15px;               /* Set the height of the SVG icon */
        /* Add space between icon and text */
}

.favorites-content span {
  font-size: inherit;         /* Inherit the font size from .recents-content */
  font-weight: inherit;       /* Inherit the font weight from .recents-content */
}


#favorites {
  margin: 15px auto; /* Center the container horizontally */
  height: 450px;
  width: 100%; /* Ensure it takes the full width of the parent */
  max-width: calc(100% - 30px); /* Ensure there's no horizontal overflow */
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1300px, 1fr)); /* Define columns */
  padding: 0 12px; /* Adjust padding to ensure proper spacing */
}

#favorites::-webkit-scrollbar {
  width: 10px;
}


#favorites::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Lighter shade of gray */
  border-radius: 10px; /* Add rounded corners to the thumb */
}

#favorites::-webkit-scrollbar-thumb:hover {
  background: #bbb; /* Slightly darker thumb color on hover */
}


.note-wrapper {
  position: relative;
  margin-left: 25px;
  margin-right:14px;
  max-width: 100%; /* Ensure it takes the full width of the grid column */
  display: block;
}


a {
  text-decoration: none;
}