#project-section {
  position: relative;
  left: 35px;
  top:40px;
  width: fit-content;
  height: 125px;
  margin-bottom: 70px;
}

.circle {
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  background-color: rgb(208, 225, 208);
  margin-right: 22px;
  margin-left: 12px;
  flex-shrink: 0; /* Prevents shrinking */
}

.percentage-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
  flex-shrink: 0; /* Prevents shrinking */
}

.percent {
  width: 50px; /* Adjusted to fit within the container */
  padding: 0;
  font-weight: bold;
  font-size: 1.4em;
  flex-shrink: 0; /* Prevents shrinking */
}

.project-title {
  width: 100px; /* Fixed width for all project titles */
  font-weight: bold;
  overflow: hidden; /* Ensures text does not overflow */
  text-overflow: ellipsis; /* Adds ellipsis to overflowing text */
  white-space: nowrap; /* Prevents text wrapping */
  flex-shrink: 0; /* Prevents shrinking */
  display: block; /* Makes the element a flex container */
  justify-content: center; /* Centers the text horizontally */
  align-items: center; /* Centers the text vertically */
  text-align: center; /* Centers text within the element */
}

.project-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  padding: 10px; 
  gap: 8px; 
  overflow: hidden; /* Ensures the container does not overflow */
}

.progress-container {
  height: 12px;
  width: 435px;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: 10px;
  overflow: hidden; 
  margin-right: 14px;
}

.progress-bar {
  height: 12px;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}


a {
  text-decoration: none;
  color: black;
}

.project-wrapper {
  display: flex;
  align-items: center; /* Adjusted to reduce the gap */
  flex-wrap: nowrap;
  overflow: hidden;
}

.calenderImage{
  margin-right: 25px;
}

.vertical-line-project {
  border-left: 2px solid #000;
  height: 60px;
  margin-right: 10px;
  margin-left: 30px;
}