html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Varela Round', sans-serif;
}

#container {
  display: flex;
}

#restOfScreen {
  flex: 1;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 10vh;

  margin-bottom: 1vh;
}

/* Project list Box */
main {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  height: 89vh;
  overflow-y: auto;

  align-items: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 25px;
  width: 80vw;
  gap: 1vh;
}

.titlePercentCompletedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

progress {
  height: 70%;
  width: 50%;
}

.containerForPriorityIconTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.priority-icon {
  height: 3vh;
  width: 3vh;
  background-color: #bbb;
  border-radius: 50%;
}
.priority-icon.low {
  background-color: #0AB73B;
}
.priority-icon.medium {
  background-color: #FFD600;
}
.priority-icon.high {
  background-color: #FF000F;
}

.titlePercentCompletedContainer a {
  display: block;
  font-size: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  text-decoration: none;
  color: black;
}

.deadlineContainer p {
  margin: 0;
  padding: 0;
  opacity: 0.6;
  font-size: 80%;
}

.deadlineContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.descriptionContainer {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

.descriptionContainer h2 {
  text-align: center;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}

.taskListContainer {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}

.taskListContainer h2 {
  text-align: center;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
}

.taskListContainer > .taskList {
  list-style-type: none;
  padding: 0;
}

label {
  pointer-events:none;
}

.noProjectsCase{
  padding: 1%;
  background-color: rgba(255, 255, 255, 0);
}