body {
  padding: 0;
  margin: 0% 1% 2% 0%;
  display: flex;
  /*overflow-y: hidden;*/
}

vertical-navbar{
  left: 0;
  top: 0;
  min-width: fit-content;
}

body > #SearchBar {
  background-color: black; /* PLACEHOLDER */
}

.content {
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 2% 1% 2% 1%;
}

.sort{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.sort label {
  size: normal;
  font-size: 20px;
}

.sort > #sort-select {
  font-size: normal;
  font-style: bold;
  padding: 3px 0px 3px 5px;
}

body > #entries-holder{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}



a {
  text-decoration: none;
  color: black;
}

.note > .left-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
}

h3 {
  font-size: normal;
  font-weight: 600;
}

.dates p {
  color: #7C7C7C;
  font-size: small;
  font-weight: 500;
  margin-top: 0;
}

.note > .middle-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 75%;
}

.tags-project {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tags-project span {
  font-size: small;
  font-weight: 500;
  background-color: #e2e2e2;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.tags-project span:hover {
  background-color: #d9d9d9;
}

#note-text {
  font-size: normal;
  font-weight: 500;
}


