/* Global Styles */
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
}


/* Link Styles */
/* Have title appear black with no underline */
a:link, a:visited  {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: underline;
}

/* Main Container */
.container {
    width: 90%;
    height: 100vh;
    margin: 0 0 0 10%;
    padding: 2rem;
    background-color: #fff;
    box-sizing: border-box;
    flex-grow: 1;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

header h1 {
    margin: 0;
}

/* Controls Section */
.controls {
    display: flex;
    align-items: center;
}

.controls select, .controls input, .controls button {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.controls select {
    width: 10rem;
}

.controls input {
    width: 5rem;
}

.controls button {
    font-size: 1.125rem;
}

/* Search Bar */
.search-bar {
    flex-grow: 1;
    margin: 0 2rem;
}

.search-bar input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

/* Calendar */
#calendar {
    display: grid;
    gap: .5rem;
    flex-grow: 1;
}

/* Weekdays Header */
.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 0.0625rem solid #888;
    background-color: #ddd;
    padding: .5rem;
}

.week-days div {
    text-align: center;
    font-weight: bold;
}

/* Days Grid */
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: .5rem;
    position: relative;
    height: 65vh;
}

/* Individual Calendar Day */
.calendar-day {
    border: 0.0625rem solid #ddd;
    background-color: #f9f9f9;
    padding: 0.1rem;
    height: 11vh;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.calendar-day span {
    position: absolute;
    top: 0.5rem;
    right: .6rem;
    color: black;
}

/* Current Day Indicator */
.current-day::before {
    content: '';
    position: absolute;
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: #0AB73B;
    border-radius: 50%;
    top: 0.125rem;
    right: 0.09375rem;
}

.current-day span {
    color: white;
}

/* Tasks in Calendar Day */
.calendar-day .tasks {
    margin-top: 1rem;
}

/* Task Modal */
#task-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 6rem;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 2rem;
    border: 0.0625rem solid #888;
    width: 80%;
    max-width: 31.25rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Task Form */
#task-form {
    display: flex;
    flex-direction: column;
}

#task-form label {
    margin-top: 1rem;
}

.description-label {
    margin-top: 1rem;
    display: inline-block;
    width: 6.25rem;
}

#task-description {
    display: inline-block;
    width: calc(100% - 6.875rem);
    margin-left: 1rem;
}

#task-form button {
    padding: 1.5rem 3rem;
    font-size: 1rem;
    background-color: #007BFF;
    left: 0;
    top: 0;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}

#task-form button:hover {
    background-color: #0056b3;
}

/* Tasks List */
.tasks {
    margin-top: 0.5rem;
    flex-grow: 1;
    overflow-y: auto;
}

.task {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.task-icon {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    margin-right: 0.125rem;
}

/* Have tasks title appear. cut off overflow */
.task-title {
    white-space: nowrap;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

@media (max-width: 700px){
    add-new-btn{
        position: fixed;
        top: 100%;
        right: 3%;

    }
}