html body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 2% 1% 2% 1%;
}
vertical-navbar {
    position: fixed;
    top:0;

}

#container {
    display: flex;
}

#restOfScreen {
    flex: 1;
    margin-left: 11%;
}

p{
    margin: 0 2%;
}
.header {
    min-width: fit-content;
    display: flex;
    gap: 10px;
    
}

.selectBar{
    position: absolute;
    top: 0;
    margin: 2% 1% 0 1%;
    min-width: fit-content;
    display: flex;
    gap: 10px;
}

.actionBar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2% 1% 0 0;
    min-width: fit-content;
    display: flex;
    gap: 10px;
}

.actionBar a {
    display: flex;
    width: 136px;
    justify-content: center;
    align-items: center;

    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px 15px; 
    text-decoration: none; 
    color: black; 
    font-size: 16px;
}

.actionBar a:hover {
    background-color: #e0e0e0; /* Change background color on hover */
    cursor: pointer;
}

.actionBar svg {
    margin-right: 8px; /* Add space between icon and text */
    width: 25px;
    height: 25px;
}

.content{
    padding: 50px 0 0 0;
}

.container {
    margin: 2% 1% 2% 1%;
    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.08);
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    
}

.container textarea{
    margin: -1% 0 0 0;
    padding: 10px;
    width: 100%;

    border: 1px solid #9b9b9b;
    border-radius: 5px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #F8F8F8;

    resize: none; /*remove the resize handle on the bottom right*/

  }


.projectDue{
    display: flex;
    justify-content: start;
    align-items: center;
}

.projectDue svg{
    margin: 1% 1%;
    min-width: 20px;
    height: 20px;
}

#descDropdown{
    margin: 1% 50%; /* Add space between icon and text */
    width: 20px;
    height: 20px;
}

.container svg:hover{
    cursor: pointer;
}

.projectHeader{
    display: flex; 
    align-items: center; 
}

.progress{
    margin-left: auto; 
    margin-right: 1%;
}


.priorityDot{
    margin: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}


select {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    
    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border-style: none;
    padding: 10px 15px; 
    text-decoration: none; 
    color: black; 
    font-size: 16px;
    
    /* Remove default CSS */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* Change select dropdown icon */
    background-image: 'url(put path to icon here)';
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
  }

select:hover{
    cursor: pointer;
}

.linkedNote{
    justify-content: start;
    align-items: center;
    min-width: fit-content;
    display: flex;
    gap: 10px;
}

.linkedNote svg{
    width: 20px;
    height: 20px;
}

ul{
    justify-content: right;
    align-items: center;
    list-style-type: none;
    width: 60%;
    display: flex;
    margin: 0 1% 0 auto;
    
}
li{
    margin:0;
    width:fit-content;
    background-color: #E2E2E2;
    border-radius: 30px;
    border-style: none;
    padding: 10px; 
    text-decoration: none; 
    color: black; 
    scale: 70%;
 
}

