html body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vh;
    padding: 0;
}
vertical-navbar {
    position: fixed;
    top:0;
    left:0;

}

p{
    
    overflow-wrap: break-word;
}
#container {
    display: flex;
}

#restOfScreen {
    flex: 1;
    margin-left: 11%;
    width: 90%;
}

.header {
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.selectBar{
    margin: 2% auto 0 0;
    min-width: fit-content;
    display: flex;
    gap: 1vw;
    scale: 90%;
}

.select-wrapper{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    
    background-color: #ffffff;
    border-radius: 1em;
    border: .1em solid #00000017;
    text-decoration: none; 
    font-size: 1vh;

}

.select-wrapper svg{
    margin-right: 1vw;
    margin-left: -2vw;
    width: 1em;
    height: 1em;
    color:#6d6d6d;
    stroke: #6d6d6d;
    stroke-width: 30;
}


.actionBar {
    margin-right: 0vw;
    min-width: fit-content;
    display: flex;
    gap: 1vw;
}


.content{
    padding: 0 0 0 0;
}

.container {
    margin: 2% 0 2% 0;
    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.08);
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    
}

#title{
    font-size: calc(1.5vw + 1.5vh);
    margin-right: auto;
}

.container textarea{
    margin: -1% 0 0 0;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid #00000017;
    border-radius: 5px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #00000003;

    resize: none; /*remove the resize handle on the bottom right*/

  }

#projectTitle{
    margin-right: auto;
    padding-left: 1vw;
    font-size: calc(1.5vw + 1.5vh);    font-weight: bold;
    width: 40%;

    border: 1px solid #00000017;
    border-radius: .2em;
    overflow: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #00000003;
  }

.projectDue{
    display: flex;
    justify-content: start;
    align-items: center;
}

.projectDue svg{
    margin: 0 0% 0 1%;
    min-width: 1em;
    height: 1em;
}

#descDropdown{
    margin: 1% 50%; /* Add space between icon and text */
    width: 1em;
    height: 1em;
}

.container svg:hover{
    cursor: pointer;
}

.projectHeader{
    flex-wrap: wrap;
    display: flex; 
    align-items: center; 
    margin: 1vh 0vh ;
}

.progress{
    
    margin-right: 1%;
    display: flex;
    align-items: center;
}

.progress progress{
width: 30vw;
height: 3vh;
margin-right: 1em;

}

#progressBar{
    accent-color: green;
    transition: width 0.1s ease-in-out;
}


.progress label{
    font-size: larger;
    font-weight:bold;
    
}

.priorityDot{
    padding: .7em;
    margin: 1vw;

    background-color: rgb(123, 123, 123);
    border-radius: 50%;
    display: inline-block;
}

input[type=datetime-local]{
    background-color: #00000003;
}


select {
    font-size: calc(.5vw + 1vh);    
    padding: .75vh 7vw .75vh 7vw;
    color: #6d6d6d; 
    background-color: transparent;
    /* Remove default CSS */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-style: none;

    z-index: 1;
}

#priority{
    padding-left: 3vw;
    padding-right: 3vw;
}



.addTask{
    display:flex;
    align-items: center;
    margin-bottom: 1vh;
}

.addTask svg{
    height: 20px;
    width: 18px;
    margin-right: 10px;
    stroke: black;
    stroke-width: 10;
}

.taskContainer {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}

.taskContainer svg{
    height: 18px;
    width: 18px;
    margin-left: 10px;
}


input[type=text]{

    width: 95%;
    border: 1px solid #00000017;
    border-radius: 5px;
    overflow: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #00000003;
}

input[type=checkbox] {
    margin-left: 0px;
    margin-right: 10px;

    height:18px;
    width:18px;
    border: px solid #1e5180;

    accent-color: black;
}

input[type=checkbox]:before {
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    display: block;
    width: 13.5px;
    height: 13.5px;
    border: 2.5px solid black;
    border-radius: 2.5px;

}

select:hover{
    cursor: pointer;
}

.linkedNotes{
    margin: 0 .75vw 0 .75vw;
    
}

.linkedNote{
    margin-right: 2vw;
    justify-content: start;
    align-items: center;
    min-width: fit-content;
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
}

.linkedNote svg{
    width: 20px;
    height: 20px;
}

p{
    margin: 0 2%;
}

ul{
    justify-content: right;
    align-items: center;
    list-style-type: none;
    width: 60%;
    display: flex;
    margin: 0 1% 0 auto;
    
}
li{
    margin:0;
    width:fit-content;
    background-color: #E2E2E2;
    border-radius: 30px;
    border-style: none;
    padding: 10px; 
    text-decoration: none; 
    color: black; 
    scale: 70%;
 
}

hr{
    border-color: rgba(0, 0, 0, 0.147);
    border-width: 1px;
    align-items: center;
}

.removeNote{
    fill:#760000e3;
}

.flip {
    transform: rotate(180deg);
}

