.note {
  background-color: #F8F8F8;
  padding-right: 1.25vh;  /* 10px converted to vh */
  padding-left: 2.5vh;    /* 20px converted to vh */
  padding-bottom: 1.25vh; /* 10px converted to vh */
  margin-bottom: 1.25vh;  /* 10px converted to vh */
  border-radius: 2.5vh;   /* 20px converted to vh */
  display: flex;          /* Use flexbox for horizontal alignment */
  flex-direction: column;
  justify-content: flex-start; 
  overflow: hidden;       /* Hide the overflowed text */
  position: relative;
}

.note:hover {
  background-color: #f5f5f5; /* Slightly darker background color */
  transform: scale(1.002); /* Slightly scale up the element */
  transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s; /* Add transitions for all style changes */
  }

header h2 > a {
  font-weight: bold;
  color: #000;
  max-width: 50%;   /* set max-width to avoid overlapping with the tags */
  font-size: min(2.5vh, max(3vh, 4vw));
  text-decoration: none;
  padding: 0.5vh;
}

 header {
    display: flex;   
    flex-direction: row; 
    align-items: center; /* align items to be centered in the row */
    margin-top: -1vh;
    margin-bottom: 0.5vw;
  }

/* align the tags and project elements to the right of the title */
.tags-project {
  flex-shrink: 1;
  display: flex;     
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 10vw;

}

.tags-project span {
  flex-shrink: 1;
  max-width: 30vw;
  width:fit-content;
  background-color: #e2e2e2;
  padding: .6vh 1vw 0 1vw;
  margin-right: .5vw;
  border-radius: 0.625vh; /* 5px converted to vh */
  height: 2.5vh;  /* 20px converted to vh */
  color: #000;
  transition: 0.5s;
  overflow: hidden; /* Ensures text does not overflow */
  text-overflow: ellipsis; /* Adds ellipsis to overflowing text */
  white-space: nowrap; /* Prevents text wrapping */
}

.tags-project a {
  text-decoration: none;
  color: #000;
}


.tags-project span:hover {
  background-color: #D2D2D2;
  transition: 0.5s;
}

.tags-project span[filtered="true"] {
  background-color: #212121;
  color: #F8F8F8;
  transition: 0.5s;
}

.tags-project span[filtered="true"]:hover {
  background-color: #000;
  color: #F8F8F8;
  transition: 0.5s;
}

.favorite-button {
  position: relative;
  margin-left: auto;
  margin-right: .5vw;
  border: none;
  background-color: transparent;
}

#vertical-line {
  border-left: 0.25vh solid #000; /* 2px converted to vh */
  height: 3.125vh;   
  margin-right: 2vh; /* 9px converted to vh */
  margin-left: 1.5vh;  /* 9px converted to vh */
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: -1.25vh;
  margin-bottom: 1.25vh;
}

.dates {
  display: flex;   /* align the dates vertically */
  flex-direction: column; 
  max-width: 17.5%;
}

.dates p {
  font-size: 1.25vh;
  color: #7C7C7C;
  margin-top: -0.625vh; 
}

#note-text {
  position: absolute;
  left: 25%;
  margin-top: 1vh;
  margin-right: 4%;
  max-width: 70%;
  font-size: 1.5vh;    /* 12px converted to vh */
  color: #000;
  overflow: hidden;             /* Hide any overflow */
  white-space: normal;          /* Allow text to wrap */
  word-break: break-all;        /* Break long words to prevent overflow */
  display: -webkit-box;         /* Flexbox display for line clamping */
  -webkit-line-clamp: 2;        /* Limit text to 2 lines */
  -webkit-box-orient: vertical; /* Vertical orientation for flexbox */
}