.note {
  background-color: #F8F8F8;
  padding-right: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;         /* Use flexbox for horizontal alignement */
  flex-direction: column;
  justify-content: flex-start; 
  overflow: hidden;      /* hide the overflowed text */
  position: relative; 
}

header h2 {
  font-weight: bold;
  color: #000;
  max-width: 24%;   /* set max-width to avoid overlapping with the tags */
  font-size: min(20px, max(14px, 2vw));
}

header {
  display: flex;   
  flex-direction: row; 
  align-items: center; /* align items to be centered in the row */
  margin-top: -10px;
  margin-bottom: 5px;
}

/* align the tags and project elements to the right of the title */
.tags-project {
  display: flex;
  position: absolute;
  left: 25%;          
  align-items: center;
}

.tags-project span {
  background-color: #e2e2e2;
  padding: 0px 10px;
  margin-right: 5px;
  border-radius: 5px;
  height: 20px;
  color: #000;
}

#vertical-line {
  border-left: 2px solid #000;
  height: 25px;
  margin-right: 9px;
  margin-left: 9px;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.dates {
  display: flex;   /* align the dates vertically */
  flex-direction: column; 
  max-width: 22%;  
}

.dates p {
  font-size: 10px;
  color: #7C7C7C;
  margin-top: -5px;  
}

#note-text {
  position: absolute;
  left: 25%;
  margin-top: -5px;
  margin-right: 47px;
  font-size: 12px;
  color: #000;
  overflow: hidden;             /* Hide any overflow */
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 3;       /* set amount of lines of text allowed */
  display: -webkit-box;
}

.favorite-button {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background-color: transparent;
}