/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Now you can use the font in your styles */
body {
    font-family: 'Varela Round', sans-serif;
}

vertical-navbar{
    position:fixed;
    margin-right: 2vw;
    z-index: 2
}



#restOfScreen{
    margin-left: 10%;
}

select{
    font-size: 16px;
    color: #6d6d6d; 
    background-color: transparent;
    /* Remove default CSS */
    border-radius: 10px;
}

input[type=checkbox] {
    margin-left: 0px;
    margin-right: 10px;
    height: .9rem;
    width: .9rem;
    accent-color: black;
}


input[type=checkbox]:before {
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: .7rem;

    color: transparent !important;
    display: block;
    height: .7rem;
    width: .65rem;
    border: 2.5px solid black;
    border-radius: .2rem;

}

input[type=datetime-local] {
    margin-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: #7C7C7C;
    background-color: #00000003;
    border: none;
    padding: 5 10 5 10;
    border-radius: 25px;
    border: .5px solid #7c7c7c51;
    height: 2em;
    width: fit-content;
}


progress{
    accent-color: green;
}    

.project-container {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.04);
}
.tags li {
    background-color: #E2E2E2;
    width:fit-content;
    padding: 5px 10px;
    border-radius: 25px;
}

.note {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
    margin: 1vh 0 1vh 0;
    background-color: #f8f8f8;
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 10px;
    width: 97%;
    height: fit-content;
    text-decoration: none;
    color: black;
}

#note-text {
    position: absolute;
    left: 25%;
    margin-top: -5px;
    margin-right: 4%;
    margin-left: 2%;
    width: 58vw;
    font-size: 12px;
    color: #000;
    overflow: hidden;             /* Hide any overflow */
    white-space: normal;          /* Allow text to wrap */
    word-break: break-all;        /* Break long words to prevent overflow */
    display: -webkit-box;         /* Flexbox display for line clamping */
    -webkit-line-clamp: 3;        /* Limit text to 3 lines */
    -webkit-box-orient: vertical; /* Vertical orientation for flexbox */
  }

  .project-title {
    width: 10vw; /* Fixed width for all project titles */
    padding-right: 1vw;
    font-weight: bold;
    overflow: hidden; /* Ensures text does not overflow */
    text-overflow: ellipsis; /* Adds ellipsis to overflowing text */
    white-space: nowrap; /* Prevents text wrapping */
    flex-shrink: 0; /* Prevents shrinking */
    display: block; /* Makes the element a flex container */
    justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers the text vertically */
    text-align: center; /* Centers text within the element */
  }