body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 2% 1% 2% 1%;
}

.actionBar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2% 1% 0 0;
    min-width: fit-content;
    display: flex;
    gap: 10px;
}

.actionBar a {
    display: flex;
    width: 136px;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px 15px; 
    text-decoration: none; 
    color: black; 
    font-size: 16px;
}

.actionBar a:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

.actionBar svg {
    margin-right: 8px; /* Add space between icon and text */
    width: 25px;
    height: 25px;
}



